.container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: cornflowerblue;
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--bgSoft);
}
